@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(231, 231, 222);
    font-family: 'Hind', sans-serif;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 8vh;
}

header,
footer {
    color: rgb(212, 205, 205);
    background-color: #061425;
    height: 100vh;
}

header {
    padding-top: 40vh;
    text-align: center;
}

footer {
    padding: 20vh 35vw 0;
    text-align: center;
}

footer > h2 {
    margin-bottom: 5vh;
}

footer > ul {
    text-align: left;
}

footer > ul > li {
    margin-bottom: 2px;
}

footer > ul > li > a {
    color: #e7e7de;
}

footer > ul > li > a:hover {
    color: #008891;
}

.arrow-black,
.arrow-white {
    border-width: 0 3px 3px 0;
    border-style: solid;
    display: inline-block;
    margin: 2vh 49% 0;
    padding: 10px;
    transform: rotate(45deg);
}

.arrow-black {
    border-color: black;
}

.arrow-white {
    border-color: white;
}

footer > .arrow-white {
    margin-top: 50vh;
    transform: rotate(225deg);
}

nav {
    background: linear-gradient(rgb(231, 231, 222), rgb(231, 231, 222), rgb(231, 231, 222), rgb(231, 231, 222, .99),
    rgb(231, 231, 222, .90));
    display: flex;
    padding: 2vh 0;
    position: sticky;
    top: 0;
}

.burger-menu {
    display: none;
    height: 25px;
    margin-left: 20px;
    width: 40px;
}

.burger-menu > div {
    background-color: black;
    border-radius: 40%;
    height: 20%;
    margin-bottom: 20%;
}

nav > a:first-of-type {
    margin-left: 10vw;
}

a.nav-link {
    color: #00587a;
    display: block;
    margin-left: 5vw;
    text-align: center;
    text-decoration: none;
    width: 6vw;
}

a.nav-link:hover {
    color: #008891;
    text-decoration: underline;
}

.articles {
    height: 73vh;
}

article.link:first-of-type {
    margin-top: 20vh;
}

img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
    width: 17vw;
}

article.link > a > figure {
    height: 200px;
}

article.link > a > section {
    margin: 20px 2vw 0;
}

h2 {
    margin-bottom: 10px;
}

article.link > a {
    color: inherit;
    background-color: #b4bcbe;
    border: 1px solid black;
    display: flex;
    margin: auto 5vw 4vh auto;
    text-decoration: inherit;
    transition-property: box-shadow width;
    transition-duration: .5s;
    width: 80vw;
}

article.link > a:hover {
    box-shadow: 10px 5px 10px;
    width: 81vw;
}

article.about {
    height: 93vh;
}

article.about > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 75vh;
    padding: 0 15vw 0;
    align-items: center;
}

article.about > div > figure,
article.about > div > section {
    margin: auto;
    width: 30vw;
}

article.about > div > figure > img {
    border-style: outset;
    border-color: #006992;
    border-width: 5px;
    border-radius: 100%;
}

article.project {
    height: 35vw;
    margin: auto auto 7vh;
    padding-top: 5vw;
    text-align: center;
    width: 70vw;
}

#tic-tac-toe {
    background-image: url(../images/tic-tac-toe.png);
}

#responsive-landing-page {
    background-image: url(../images/landing-page.jpeg);
}

#tic-tac-toe,
#responsive-landing-page {
    background-blend-mode: darken;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: background-color;
    transition-duration: 1s;
}

article.project > h2,
article.project > p,
article.project > a {
    color: rgb(199, 199, 199);
    margin: auto auto;
    opacity: 0;
    width: 75%;
}

article.project > a {
    display: block;
}

article.project > a:hover {
    color: #008891;
}

article.project > h2 {
    font-size: 2vw;
    margin-bottom: 1.5vw;
}

article.project > p {
    margin-bottom: 2vw;
}

article.project > p,
article.project > a {
    font-size: 1.25vw;
}

article.project:hover > h2,
article.project:hover > p,
article.project:hover > a {
    margin-bottom: 0;
    opacity: 100;   
    transition-property: opacity, margin-bottom;
    transition-duration: 1s;
}

article.project:hover > h2 {
    margin-bottom: .75vw;
}

article.project:hover > p {
    margin-bottom: 1vw;
}

#tic-tac-toe:hover,
#responsive-landing-page:hover {
    background-color: rgb(39, 36, 36);
}

@media (max-width: 599px) {
    nav {
        flex-direction: column;
    }

    nav > a:first-of-type {
        margin: 10px 25px auto;
    }

    a.nav-link {
        display: none;
        margin-left: 25px;
    }

    .burger-menu {
        display: block;
    }
}

@media (max-width: 925px) {
    article.about {
        height: 150vw;
    }

    article.about > div {
        display: block;
    }

    article.about > div > figure,
    article.about > div > section {
        font-size: 2.5vw;
        width: 100%;
    }

    .arrow-white,
    .arrow-black {
        display: none;
    }

    .articles {
        height: 110vh;
    }

    article.project > h2 {
        font-size: 4vw;
    }

    article.project > p,
    article.project > a {
        font-size: 2vw;
    }

    footer {
        padding: 20vh 15vw 0;
    }
}

@media (hover: none) {
    article.project > a,
    article.project > p,
    article.project > h2 {
        margin-bottom: 0;
        opacity: 100;
        transition-property: opacity, margin-bottom;
        transition-duration: 1s;
    }

    #tic-tac-toe,
    #responsive-landing-page {
        background-color: rgb(73, 68, 68);
    }
}